{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InvoiceDate</th>
                <th>InvoiceNumber</th>
                <th>Nb lignes</th>
                <th>Total HT</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.invoiceDate ? invoice.invoiceDate|date('d/m/Y') : '' }}</td>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.items | length }}</td>
                <td>{{ invoice.totalBeforeTax }}</td>
                <td>
                    <a href="{{ path('invoice_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_INVOICE_USER') %}
        <a href="{{ path('invoice_new') }}">Create new</a>
    {% endif %}
{% endblock %}
