{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <div>
        <h3>Ajout utilisateur</h3>
    </div>
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}